.royalCard {
  display: flex;
  width: 100%;
}

.royalPicture {
  width: 250px;
  height: auto;
  margin: 10px;
  border-radius: 50px;
}

.royalDescription {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: 10px;
}
